
@{
    ViewBag.Title = "AKQA | Error";
}

<h4>Something went wrong</h4>
<hr />
<article class="text-center">
    <div>
        <img src="../Images/broken.jpg" alt="Website broken" style="width: 220px; height:390px;" />
        <p>Stay Home and Stay Safe</p>
        <a href="http://localhost:51776/home">Go to home</a>
    </div>
</article>